<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gnyblecraft.marcul.ideasproject">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/save_ideas_ic_launcher"
        android:roundIcon="@mipmap/save_ideas_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartLogoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ExploreActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Registry.LogInActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Registry.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Registry.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".base.WaitScreenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".userProfile.editProfile.EditProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".userProfile.editProfile.ChangePasswordActivity"
            android:screenOrientation="portrait"/>





        <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>

    <activity android:name="com.facebook.FacebookActivity"
        android:configChanges=
            "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        />
    <activity
        android:name="com.facebook.CustomTabActivity"
        android:screenOrientation="portrait"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/fb_login_protocol_scheme" />
        </intent-filter>
    </activity>

    </application>


</manifest>